@font-face {
  font-family: Gordita Light;
  src: url(./font/Gordita-Light.otf) format('opentype');
}

@font-face {
  font-family: Gordita Medium;
  src: url(./font/Gordita-Medium.otf) format('opentype');
}

@font-face {
  font-family: Gordita Bold;
  src: url(./font/Gordita-Bold.otf) format('opentype');
}

.font-bold {
  font-family: Gordita Bold;
  letter-spacing: -2.5px;
}
.font-medium {
  font-family: Gordita Medium;
}
.font-light {
  font-family: Gordita Light;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 300vh;
}

.inline {
  display: inline-block;
}

#container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
}
.navbar {
  width: calc(100vw - 64px * 2);
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, auto) 1fr auto;
  position: fixed;
  top: 64px;
  left: 64px;
  background-color: #6cd4ff;
  padding: 16px 0;
  border-radius: 8px;
  /* box-shadow: 0 40px 100px 5px #eaf2d7; */
}
.navbar .button {
  margin-right: 32px;
  color: #eaf2d7;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.navbar .button:last-child {
  margin-left: 32px;
}
.navbar .button h2 {
  position: relative;
  display: inline-block;
}
.navbar .button h2:after {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 0px;
  height: 2px;
  background-color: #fffb25;
  left: 0;
  top: 50%;
  transform: translateY(50%);
  transition: max-width 0.3s ease-in;
}
.navbar .logo {
  margin-right: 48px;
  color: #eaf2d7;
  font-size: 25px;
}
.navbar .button:hover h2:after {
  max-width: 100px;
}
.space {
  position: relative;
  display: flex;
  align-items: center;
}
.space .line {
  width: 100%;
  height: 1px;
  background-color: #eaf2d7;
}
.splash {
  height: 100vh;
  width: 100%;
  position: relative;
}
.splash .text-container {
  position: absolute;
  top: 50%;
  left: 64px;
  transform: translateY(-50%);
}
.splash .text-container h2 {
  color: #eaf2d7;
  font-size: 120px;
  line-height: 0.9em;
}
.splash .text-container p {
  color: #eaf2d7;
  margin-top: 40px;
  margin-left: 32px;
  width: 650px;
  display: block;
  position: relative;
}
.splash .text-container p:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #eaf2d7;
  left: -16px;
  top: 0;
}
.splash .cta {
  margin-left: 16px;
  margin-top: 32px;
  padding: 8px 16px;
  border: 1px solid #5d576b;
  background-color: #5d576b;
  color: #eaf2d7;
  cursor: pointer;
  box-shadow: 0 10px 40px 1px #5d576b;
}

.splash .cta:hover {
  background-color: #5d576b;
}

.purple {
  color: #5d576b !important;
}

.links {
  position: fixed;
  bottom: 64px;
  right: 64px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.links .links__tab {
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.links .links__tab img {
  width: 90%;
  height: auto;
}
