@font-face {
  font-family: Gordita Light;
  src: url(./font/Gordita-Light.otf) format('opentype');
}

@font-face {
  font-family: Gordita Medium;
  src: url(./font/Gordita-Medium.otf) format('opentype');
}

@font-face {
  font-family: Gordita Bold;
  src: url(./font/Gordita-Bold.otf) format('opentype');
}

@font-face {
  font-family: Bison Bold;
  src: url('./font/bison-bold.woff2');
}

@font-face {
  font-family: Bison Outline;
  src: url('./font/bison-thickoutline.woff2');
}

.font-bold {
  font-family: Gordita Bold;
  letter-spacing: -2.5px;
}

.font-medium {
  font-family: Gordita Medium;
}

.font-light {
  font-family: Gordita Light;
}

.bison-bold {
  font-family: Bison Bold;
}

.bison-outline {
  font-family: Bison Outline;
}

.purple {
  color: #5d576b !important;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}
